/*Colores*/
:root {
    --bs-blue: #037BC0;
    --bs-green: #8CBC00;
}


/*Diseño del HTML*/
html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1 h2 h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 4rem;
}


/*Clases*/
.text-center {
    text-align: center;
}

.btn {
    border-radius: 5px;
}

.hero {
    /*para poner y modificar una imágen de fondo*/
    background-image: url(/Imágenes/principal.jpg);
    height: 25rem;
    background-size: cover;
    background-position: center center;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .hero  {
        height: 55rem;
    }
}


/*Colores*/
.btn-success {
    background-color: var(--bs-green) !important;
}

.bg-primary {
    background-color: var(--bs-blue) !important;
}


/*Productos*/
@media (min-width:768px) {
    .products img {
        height: 45rem;
        width: 100%;
        object-fit: cover;
    }
}
